
<template>
  <v-container>
    <v-dialog v-model="dialog" max-width="1000px" persistent>
      <v-card> 
        <v-card-text>
          <index-table :setup="table_setup_cart" :editProduct="editVerifiedProduct" :deleteProduct="deleteVerifiedProduct"></index-table><br>
          <p class="display-1 text-right">SubTotal: {{ cart_value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</p>
        </v-card-text>    

        <v-card-actions>
          <v-btn @click="dialog = !dialog">Fechar</v-btn>
        </v-card-actions> 
      </v-card>
    </v-dialog>

    <v-dialog v-model="editDialog" max-width="1000px" persistent>
      <v-card>
        <v-card-title>Editar Pedido</v-card-title>
        <v-card-text>
          <v-select :items="productList" v-model="editProduct.name" label="Produto" required></v-select>
          <v-text-field color="red" v-model="editProduct.qtd" type="number" min="1"  label="Quantidade"></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-btn @click="editDialog = !editDialog" color="error">Cancelar</v-btn>
          <v-btn @click="submitEditedItem" color="success">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div v-if="$route.params.kind == 'open'">
      <index-table :setup="table_setup_pending" :setCartItem="showCart"></index-table>
    </div>
    <div v-if="$route.params.kind == 'closed'">
      <index-table :setup="table_setup_approved" :setCartItem="showCart"></index-table>
    </div>
    <div v-if="$route.params.kind == 'reproved'">
      <index-table :setup="table_setup_reproved" :setCartItem="showCart"></index-table>
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AllCarts',
  components: {
     IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../../shared/IndexTable'),
  },
  data:() => ({
    table_setup_pending:{
      table_name: 'Carrinhos Ainda em Analise',
      headers:[
        {text: 'Proprietário', value: 'owner'},
        {text: '#items', value: 'n_items'},
        {text: 'Valor', value: 'value'},
        {text: 'Carrinho', value: 'action'}
      ],
      items: [],
      button: {
        name: 'Mostrar Carrinho',
        icon: 'mdi-cart'
      },
      search: '',
    },

    table_setup_reproved:{
      table_name: 'Carrinhos Reprovados',
      headers:[
        {text: 'Proprietário', value: 'owner'},
        {text: '#items', value: 'n_items'},
        {text: 'Valor', value: 'value'},
        {text: 'Carrinho', value: 'action'}
      ],
      items: [],
      button: {
        name: 'Mostrar Carrinho',
        icon: 'mdi-cart'
      },
      search: '',
    },

    table_setup_approved:{
      table_name: `Carrinhos Aprovados`,
      headers:[
        {text: 'Proprietário', value: 'owner'},
        {text: '#items', value: 'n_items'},
        {text: 'valor', value: 'value'},
        {text: 'Carrinho', value: 'action'}
      ],
      items: [],
      button: {
      name: 'Mostrar Carrinho',
      icon: 'mdi-cart'
    },
      search: '',
    },

    table_setup_cart:{
      table_name: '',
      headers:[
        {text: 'Produto', value: 'name'},
        {text: 'Valor (R$)', value: 'value'},
        {text: 'Categoria', value: 'category'},
        {text: 'Qtd', value: 'qtd'},
        {text: 'Aprovado', value: 'approved'},
        {text: 'Ações', value: 'buttons_verified'}
      ],
      items: [],
      button1: {
      name: 'Editar',
      icon: 'mdi-pencil'
      },
      button2: {
        name: 'Excluir',
        icon: 'mdi-delete'
      },
      button3: {
        name: 'Aprovado',
        icon: 'mdi-check-bold'
      },
      button4: {
        name: 'Reprovado',
        icon: 'mdi-close-thick'
      }
    },

    dialog: false,
    editDialog: false,
    editProduct: {},
    editIndex: 0,
    productList: [],
    indexCart: 0,
    cart_value: 0,
  }),
  mounted() {
    this.indexAllCarts()
  },
  methods: {
    showCart(item){
      this.dialog = true
      this.table_setup_cart.items = item.items
      let all_carts = JSON.parse(localStorage.getItem('all_carts'))
      this.indexCart = all_carts.map(item=>item.id).indexOf(item.id)
      this.table_setup_cart.table_name = `Carrinho #${this.indexCart}`
      this.cart_value = item.value
    },
    editVerifiedProduct(item) {
      this.editProduct = {...item}
      let allCarts = JSON.parse(localStorage.getItem('all_carts'))
      this.editIndex = allCarts[this.indexCart].items.map(o=>o.name).indexOf(item.name)
      this.productList = JSON.parse(localStorage.getItem('Products'))
      this.productList = this.productList.map(o=>o.name)
      this.editDialog = true
    },
    submitEditedItem() {
      this.editVerified({item: this.editProduct, indexItem: this.editIndex, indexCart: this.indexCart})
      this.$sweetAlerts.toast1("success", "Produto Editado com sucesso")
      setTimeout(() => {
        location.reload()
      }, 2000);
    },
    deleteVerifiedProduct(item) {
      
      this.deleteVerified({item, indexCart: this.indexCart})
      this.$sweetAlerts.toast1("success", "Produto Deletado com sucesso")
    },
    ...mapActions({
      indexAllCarts: 'Cart/index',
      editVerified: 'Cart/editVerified',
      deleteVerified: 'Cart/deleteVerified'
    })
  },
  computed: {
    name() {
      return this.$route.name 
    },
    ...mapGetters({
      getAllCarts: 'Cart/getAllCarts',
    })
  },
  watch: {
     getAllCarts(nv) {
       
       let pending_carts = []
       let verified_carts = []
       let allApproved = []
       if (nv){
         
         for (let cart of nv) {
           if (cart.verified != true) {
             pending_carts.push(cart)
           } else {
             if (cart.allApproved == true) {
               allApproved.push(cart)
             } else {
               verified_carts.push(cart)
             }
           }
         }
         this.table_setup_pending.items = [...pending_carts]
         this.table_setup_reproved.items = [...verified_carts]
         this.table_setup_approved.items = [...allApproved]
       }
     },
   },
}
</script>

<style scoped>

</style>