<template>
  <div>
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card>
        <v-card-text>
          <index-table :setup="table_setup" :setCartItem="removeCartItem" showEditQtd @editQtd="setupEditQtd"></index-table><br>
          <p class="display-1 text-right">SubTotal: {{ cart_value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</p>
        </v-card-text>

        <v-card-actions>
          <v-btn color="red" dark @click="closeDialog()">Fechar</v-btn>
          <v-btn color="green" dark @click="addToAllCarts()">Finalizar Carrinho</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_edit_qtd" v-if="dialog_edit_qtd" max-width="500px" transition="dialog-transition" >
      <v-card style="border-radius:12px">
        <v-card-title primary-title>
          <div class="ttile mb-0">Altere a quantidade</div>
        </v-card-title>

        <v-card-text>
          <div class="headline">{{edit_item.name}}</div>
          <v-text-field v-model="edit_item.qtd" type="number" prepend-icon="mdi-information" label="Quantidade"></v-text-field>
        </v-card-text>

        <v-card-actions class="justify-end">
          <v-btn text @click="clearItemEdit()" color="error">Cancelar</v-btn>
          <v-btn text @click="submitItemEdit()" color="primary">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-tooltip left> 
      <template v-slot:activator="{ on }">
        <v-btn color="blue" dark class="mb-2" v-on="on" @click="dialog = !dialog" fixed fab bottom right><v-icon>mdi-cart</v-icon>{{ quantity }}</v-btn>
      </template>
      <span>Carrinho</span>
    </v-tooltip>

    <dialog-loading v-if="loading" :loadText="loadingText"></dialog-loading>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'CartList',
  components: {
    IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../shared/IndexTable'),
  },
  data: () => ({
    loading: false,
    loadingText: null,

    dialog_edit_qtd: false,
    one_client: null,
    table_setup:{
      table_name: 'Carrinho',
      headers:[
        {text: 'Produto', value: 'name'},
        {text: 'Valor (R$)', value: 'value'},
        {text: 'Categoria', value: 'category'},
        {text: 'Qtd', value: 'qtd'},
        {text: 'Action', value: 'action'}
      ],
      items: [],
      button: {
          name: 'Remove',
          icon: 'mdi-cart-off'
      },
    },
    
    edit_item: {},
    idx: 0,
    dialog: false,
    quantity: 0,
    cart_value: 0,
  }),
  mounted () {
    this.indexOneCart()
  },
  methods: {
    clearItemEdit(){
      this.dialog_edit_qtd = false
      this.edit_item = {}
    },
    submitItemEdit(){
      let c = confirm ('Salvar alterações de quantidade desse item?')

      if (c){
        this.table_setup.items[this.idx].qtd = this.edit_item.qtd
        this.edit_qtd({edit: this.edit_item})
        this.cart_value = 0
        for (let item of this.table_setup.items) {
          this.cart_value += (item.value * (item.qtd))
        }
        this.clearItemEdit()
      }
    },
    setupEditQtd(e){
      
      this.idx = this.table_setup.items.map(e=>e).indexOf(e)
      this.edit_item = {...e}
      this.dialog_edit_qtd = true
    },
    removeCartItem(item) {
      this.removeItem(item)
    },
    addToAllCarts(){
      let owner = prompt('Adicione seu Nome ao Carrinho')
      if (owner == '' || owner == null) {
        alert('O carrinho deve ter um nome para ser finalizado.')
      } else {
        this.pushToAllCarts(owner)
        this.loading = true
        this.dialog = false
        setTimeout(() => {
          this.loadingText = 'Criando carrinho'
          this.$sweetAlerts.toast1("success", "Carrinho criado com sucesso")
        }, 200);
          this.loading = false
      }
    },
    closeDialog() {
      this.dialog = false
    },
    ...mapActions({
        removeItem: 'Cart/removeOneItem',
        indexOneCart: 'Cart/index',
        pushToAllCarts: 'Cart/pushToAllCarts',
        edit_qtd: 'Cart/edit_qtd'
    })
  },
  computed: {
    ...mapGetters({
      allProductsCart: 'Cart/getOneCartItems',
    })
  },
  watch: {
    allProductsCart(nv) {
      
      if (nv){
        this.table_setup.items = [...nv]
        this.quantity = nv.length
      }
      this.cart_value = 0
      for (let n = 0; n < nv.length; n++) {
        this.cart_value += (nv[n].value * nv[n].qtd)
      }
    }
  },
}
</script>
<style scoped>

</style>