<template>
  <v-card class="elevation-4" color="primary" dark max-width="500px" persistent>
    <v-card-text>
      <v-row align="center" justify="center">
        <v-col cols="12" class="text-center">
          <div class="font-weight-bold">
            {{loadText || 'Carregando'}}...
          </div>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-progress-circular :size="70" :width="7" color="white" indeterminate></v-progress-circular>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    name: 'cardLoading',
    props: {
      loadText: {
        type: String,
        default: () => 'Carregando'
      },
    },
  }
</script>

<style scoped>

</style>