<template>
  <div>

    <v-card-title>
      {{ setup.table_name }}
      <v-spacer></v-spacer>
      <v-text-field v-model="setup.search" append-icon="mdi-magnify" label="Pesquisar" single-line hide-details color="blue"></v-text-field>
    </v-card-title>

    <v-data-table :headers="setup.headers" :items="items || setup.items" :search="setup.search" class="elevation-1">

      <template v-slot:item.value="{ item }">
        <span>{{ item.value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</span>
      </template>

      <template v-slot:item.action="{ item }">
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn v-model="item.action" @click="setCartItem(item)" v-on="on" icon color="black"><v-icon>{{ setup.button.icon }}</v-icon></v-btn>
          </template>
          <span>{{ setup.button.name }}</span>
        </v-tooltip>
      </template>

      <template v-slot:item.qtd="{ item }" v-if="showEditQtd">
        {{item.qtd}}
        <v-btn @click="$emit('editQtd', item)" small icon color="primary"><v-icon small>mdi-pencil</v-icon></v-btn>
      </template>

      <template v-slot:item.cart_actions="{ item }">
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn v-model="item.action" :text="item.approved" :class="item.approved? '' : 'approved'" @click="approveSingleItem(item)" v-on="on" icon :color="item.approved? 'success' : 'black'"><v-icon>{{ setup.button1.icon }}</v-icon></v-btn>
          </template>
          <span>{{ setup.button1.name }}</span>
        </v-tooltip>
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn v-model="item.action" :text="item.approved == false" :class="item.approved == false? '' : 'reprove'" @click="reproveSingleItem(item)" v-on="on" icon :color="item.approved == false? 'error' : 'black'"><v-icon>{{ setup.button2.icon }}</v-icon></v-btn>
          </template>
          <span>{{ setup.button2.name }}</span>
        </v-tooltip>
      </template>

      <template v-slot:item.buttons="{ item }">
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn v-model="item.buttons" class="beblue" @click="editProduct(item)" v-on="on" icon color="black"><v-icon>{{ setup.button1.icon }}</v-icon></v-btn>
          </template>
          <span>{{ setup.button1.name }}</span>
        </v-tooltip>
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn v-model="item.buttons" class="bered" @click="deleteProduct(item) && success" v-on="on" icon color="black"><v-icon>{{ setup.button2.icon }}</v-icon></v-btn>
          </template>
          <span>{{ setup.button2.name }}</span>
        </v-tooltip>
      </template>

      <template v-slot:item.buttons_verified="{ item }">
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn v-show="item.approved == false" v-model="item.buttons" class="beblue" @click="editProduct(item)" v-on="on" icon color="black"><v-icon>{{ setup.button1.icon }}</v-icon></v-btn>
          </template>
          <span>{{ setup.button1.name }}</span>
        </v-tooltip>
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn v-show="item.approved == false" v-model="item.buttons" class="bered" @click="deleteProduct(item) && success" v-on="on" icon color="black"><v-icon>{{ setup.button2.icon }}</v-icon></v-btn>
          </template>
          <span>{{ setup.button2.name }}</span>
        </v-tooltip>
      </template>

      <template v-slot:item.approved="{ item }">
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-icon v-show="item.approved == true" v-model="item.approved" v-on="on" color="success">{{ setup.button3.icon }}</v-icon>
          </template>
          <span>{{ setup.button3.name }}</span>
        </v-tooltip>
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-icon v-show="item.approved == false" v-model="item.approved" v-on="on" color="error">{{ setup.button4.icon }}</v-icon>
          </template>
          <span>{{ item.reason }}</span>
        </v-tooltip>
        <span v-show="item.approved == undefined">Em análise</span>

      </template>

      <template v-slot:bottom>
        <v-btn>Finalizar Carrinho</v-btn>
      </template>

    </v-data-table>
  </div>
</template>

<script>
  export default {
    props: {
      showEditQtd:{
        type: Boolean,
        default: false,
      },
      setup: {
        type: Object,
      },
      setCartItem: {
        type: Function,
      },
      editProduct: {
        type: Function,
      },
      deleteProduct: {
        type: Function,
      },
      approveSingleItem: {
        type: Function,
      },
      reproveSingleItem: {
        type: Function,
      },

      items: {
        type: Array,
      }
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
.beblue:hover i{
  color: #2196F3;
}
.bered:hover i{
  color: rgb(248, 9, 9);
}
.approved:hover i{
  color: #00FF00;
}
.reprove:hover i{
  color: red;
}
#qtd_prod {
  max-width: 100px;
}
</style>