<template>
  <div>

    <index-table :setup="table_setup" :setCartItem="submitCartItem"></index-table>

  </div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'ProductList',
  components: {
    IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../shared/IndexTable'),
  },
  data: () => ({
    one_client: null,
    table_setup:{
      table_name: 'Lista de Produtos',
      headers:[
        {text: 'Produto', value: 'name'},
        {text: 'Valor (R$)', value: 'value'},
        {text: 'Categoria', value: 'category'},
        {text: 'Carrinho', value: 'action'}
      ],
      items: [],
      button: {
        name: 'Adicionar',
        icon: 'mdi-cart'
      },
      search: '',
    },
  }),
  mounted () {
    this.indexProducts()
  },
  methods: {
    submitCartItem(item) { //adicionar um item ao carrinho
      this.submitItem(item)
    },
    ...mapActions({
      submitItem: 'Cart/setOneItem',
      indexProducts: 'Product/index',
    })
  },
  computed: {
    ...mapGetters({
      allProductsComponent: 'Product/getAllProducts'
    })
  },
  watch: {
    allProductsComponent(nv) {

      if (nv){
        this.table_setup.items = [...nv]
      }
    }
  },
}
</script>
<style scoped>

</style>
