<template>
  <v-container>
    <div class="title">Produtos cadastrados</div>
    <v-subheader>Edite ou crie novos produtos</v-subheader>

    <!-- Caixa de Diálogo para a adição de novo produto-->
    <v-dialog v-model="dialog" max-width="500px" persistent>
      <v-card>
        <v-card-title>
          {{ formTitle }}
        </v-card-title>
        <v-card-text>
          <v-text-field color="red" v-model="newProduct.name" label="Nome do Produto"></v-text-field>
          <v-text-field color="red" v-model.number="newProduct.value" label="Valor do Produto"></v-text-field>
          <v-text-field color="red" v-model="newProduct.category" label="Categoria do Produto"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn color="red" dark @click="closeDialog()">Cancelar</v-btn>
          <v-btn color="green" dark @click="save(newProduct)">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--/////////////////////////////-->

    <index-table :setup="table_setup" :deleteProduct="deleteFromProductList" :editProduct="editFromProductList"></index-table>

    <!-- Floating button-->
    <v-tooltip left> 
      <template v-slot:activator="{ on }">
        <v-btn dark class="blue mb-2" v-on="on" @click="dialog = !dialog" fixed fab bottom right><v-icon large>mdi-plus</v-icon></v-btn>
      </template>
      <span>Adicionar Produto</span>
    </v-tooltip>
    <!--/////////////////////////////-->

  </v-container>

</template>

<script>
import {mapActions, mapGetters, mapState} from 'vuex'

export default {
  name: 'ProductList',
  components: {
    IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../components/shared/IndexTable'),
  },
  data: () => ({
    one_client: null,//asdhasuidhaisuhdasd
    table_setup:{
      table_name: 'Lista de Produtos',
      headers:[
        {text: 'Produto', value: 'name'},
        {text: 'Valor (R$)', value: 'value'},
        {text: 'Categoria', value: 'category'},
        {text: 'Ação', value: 'buttons'}
      ],
      items: [],
      button1: {
        name: 'Editar',
        icon: 'mdi-pencil'
      },
      button2: {
        name: 'Excluir',
        icon: 'mdi-delete'
      },
      search: '',
    },
    dialog: false,
    editIndex: -1,
    newProduct: {
      name: '',
      value: 0,
      category: '',
    },
    defaultProduct: {
      name: '',
      value: 0,
      category: '',
    }
  }),
  mounted () {
    this.indexProducts()
  },
  methods: {
    deleteFromProductList(item) {
      this.deleteOneProduct(item)
    },
    editFromProductList(item) {
      this.editIndex = this.table_setup.items.indexOf(item)
      this.newProduct = Object.assign({}, item)
      this.dialog = true
    },
    closeDialog() {
      this.dialog = false
      this.newProduct = Object.assign({}, this.defaultProduct)
      this.editIndex = -1
    },
    save(item) {
      if (this.newProduct.name == "" || this.newProduct.category == "") {
        alert('Campo(s) vazio(s).')
      } else if (this.newProduct.value == 0 || this.newProduct.value < 0 || isNaN(this.newProduct.value) == true) {
        alert('Valor inválido para o produto, por favor digite um valor válido.')
      }
      else {
        this.setOneProduct({item, index: this.editIndex})
        this.closeDialog()
      }
    },
    ...mapActions({
      indexProducts: 'Product/index',
      setOneProduct: 'Product/addOneItem',
      deleteOneProduct: 'Product/deleteOneProduct',
      editOneProduct: 'Product/editOneProduct',
    }),
  },
  computed: {
    formTitle () {
      return this.editIndex === -1 ? 'Novo Item' : 'Editar Item'
    },
    ...mapState(['allProducts']),
    ...mapGetters({
      allProductsComponent: 'Product/getAllProducts'
    })
  },
  watch: {
    allProductsComponent(nv) {
      if (nv){
        this.table_setup.items = [...nv]
      }
    },
    
  },
}
</script>
<style scoped>
</style>
