<template>
    <div>
        <index-table :setup="table_setup" :setCartItem="editUnapprovedItem"></index-table>  
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: 'ApprovedCarts',
        components: {
            IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../components/shared/IndexTable'),
        },
        data: () => ({
            one_client: null,
            table_setup:{
            table_name: 'Lista para Verificação',
            headers:[
                {text: 'Produto', value: 'name'},
                {text: 'Valor (R$)', value: 'value'},
                {text: 'Aprovado', value: 'approved'},
                {text: 'Carrinho', value: 'action'}
            ],
            items: []
            ,
            button: {
                name: 'Modificar Produto',
                icon: 'mdi-check'
            },
            search: '',
            },
        }),
        mounted() {
        let close_carts = JSON.parse(localStorage.getItem('close_carts'))
        if (close_carts != null) {
            for(let n=0;n<close_carts.items.length;n++){
                if(close_carts.items[n].approved != true){
                    this.table_setup.items.push(close_carts.items[n])
                }
        }
        }
    },
        methods: {
            submitApprovedItem(item){
                this.setCartItem(item)
            },
            closeAllCarts(item){
                this.closeCart(item)
            },
            editUnapprovedItem(item){
                this.modifyCart(item)
            },
            ...mapActions({
                setCartItem: 'Cart/approveOneItem',
                closeCart: 'Cart/closeApprovedCart',
                modifyCart: null //modificar o produto selecionado
            })
        },
        computed: {
            comp_items() {
            if (this.getCloseCartsItems){
                return this.getCloseCartsItems.map(o=>{return {name: `produto : ${o.name}`, value: `${o.value}`}})
            }
            return this.data 
            },
            ...mapGetters({
            getCloseCartsItems: 'Cart/getCloseCartsItems'
            }),
        },
        watch: {
            getCloseCartsItems(nv) {
            if (nv){
                localStorage.setItem('close_carts', JSON.stringify(nv))
            }
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>