
<template>
  <v-container>
      <div class="title"> Meus carrinhos   </div>
    <v-row justify="center">
      <v-btn class="mx-2" small :outlined="$route.params.kind != 'open'" color="primary" to="/my_carts/open" rounded>Em análise</v-btn>
      <v-btn class="mx-2" small :outlined="$route.params.kind != 'reproved'" color="info" to="/my_carts/reproved" rounded>Reprovados</v-btn>
      <v-btn class="mx-2" small :outlined="$route.params.kind != 'closed'" color="info" to="/my_carts/closed" rounded>Concluídos</v-btn>
    </v-row>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data() {
    return {
      key: null
    }
  },
  methods: {
    names() {
      
    },
    ...mapActions({
      // function: 'Module/action'
    })
  },
  computed: {
    name() {
      return null 
    },
    ...mapState({
      // data: state=> state.Module.state_var
    })
  },
  watch: {
  },
}
</script>

<style scoped>

</style>