<template>
  <v-container>
    <div class="title">Carrinhos para aprovação</div>
    
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card> 
        <v-card-text>
          <index-table :setup="table_setup_cart" :approveSingleItem="approveItem" :reproveSingleItem="reproveItem"></index-table><br>
        </v-card-text>

        <v-card-actions>
          <v-btn color="grey" dark @click="dialog = !dialog">Fechar</v-btn>
          <v-btn color="green" dark @click="approveAll">Aprovar Tudo</v-btn>
          <v-btn color="red" dark @click="reproveAll">Reprovar Tudo</v-btn>
        </v-card-actions>
        
      </v-card>
    </v-dialog>

    <index-table :items="getOpenCarts" :setup="table_setup" :setCartItem="showCart"></index-table>

    <index-table :items="getVerifiedCarts" :setup="table_setup_approved_carts" :setCartItem="showCart"></index-table>
    
    <dialog-loading v-if="loading" :loadText="loadingText"></dialog-loading>

  </v-container>

</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'ProductList',
  components: {
    IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../components/shared/IndexTable'),
  },
  data: () => ({
    loading: false,
    loadingText: null,

    one_client: null,
    table_setup:{
      table_name: 'Lista de Carrinhos',
      headers:[
        {text: 'Proprietário', value: 'owner'},
        {text: '#items', value: 'n_items'},
        {text: 'Valor', value: 'value'},
        {text: 'Carrinho', value: 'action'}
      ],
      items: [],
      button: {
        name: 'Mostrar Carrinho',
        icon: 'mdi-cart'
      },
      search: '',
    },
    table_setup_approved_carts:{
      table_name: 'Carrinhos Verificados',
      headers:[
        {text: 'Proprietário', value: 'owner'},
        {text: '#items', value: 'n_items'},
        {text: 'Valor', value: 'value'},
        {text: 'Carrinho', value: 'action'}
      ],
      items: [],
      button: {
        name: 'Mostrar Carrinho',
        icon: 'mdi-cart'
      },
      search: '',
    },
    table_setup_cart:{
      table_name: 'Carrinho',
      headers:[
        {text: 'Produto', value: 'name'},
        {text: 'Valor (R$)', value: 'value'},
        {text: 'Categoria', value: 'category'},
        {text: 'Action', value: 'cart_actions'}
      ],
      items: [],
      button1: {
          name: 'Aprovar',
          icon: 'mdi-check-bold'
      },
      button2: {
        name: 'Reprovar',
        icon: 'mdi-close-thick'
      }
    },
    dialog: false,
    indexCart: 0,
    indexItem: 0,
  }),
  mounted() {
    this.indexAllCarts()
  },
  methods: {
    showCart(item){
        this.dialog = true
        this.table_setup_cart.items = item.items
        let all_carts = JSON.parse(localStorage.getItem('all_carts'))
        this.indexCart = all_carts.map(item=>item.id).indexOf(item.id)
        console.log(this.indexCart)
    },
    approveItem(item) {
      this.indexItem = this.table_setup_cart.items.indexOf(item)
      this.approveSingleItem({item, indexCart: this.indexCart, indexItem: this.indexItem})
      this.$sweetAlerts.toast1("success", "Produto Aprovado")
    },
    reproveItem(item) {
      let reason = prompt(`Qual o motivo para a desaprovação do Produto ${item.name.toUpperCase()}?`)
      while(reason == '') {
        reason = prompt(`Qual o motivo para a desaprovação do Produto ${item.name.toUpperCase()}?`)
      }
      if (reason != null) {
        this.indexItem = this.table_setup_cart.items.indexOf(item)
        this.reproveSingleItem({item, indexCart: this.indexCart, indexItem: this.indexItem, reason})
        this.$sweetAlerts.toast1("success", "Produto Reprovado")
      }
    },
    approveAll() {
      if (confirm('Deseja aprovar todo o carrinho?')) {
        this.loading = true
        this.loadingText = 'Aprovando Carrinho'
        this.approveAllItems({indexCart: this.indexCart})
      }
        this.loading = false
        this.dialog = false
        this.$sweetAlerts.toast1("success", "Carrinho Aprovado")
        this.dialog = false
      setTimeout(() => {
          location.reload() 
      }, 2000);
    },
    reproveAll() {
      let reason = prompt('Qual o motivo para a desaprovação do Carrinho?')
      while(reason == '') {
        reason = prompt('Qual o motivo para a desaprovação do Carrinho?')
      }
      if (reason != null) {
        this.loading = true
        this.loadingText = 'Reprovando Carrinho'
        this.reproveAllItems({indexCart: this.indexCart, reason})
        this.loading = false
        this.dialog = false
        this.$sweetAlerts.toast1("success", "Carrrinho Reprovado")
        this.dialog = false
        setTimeout(() => {
          location.reload() 
      }, 2000);
      }
    },
    ...mapActions({
        indexAllCarts: 'Cart/index',
        approveSingleItem: 'Cart/approveSingleItem',
        reproveSingleItem: 'Cart/reproveSingleItem',
        approveAllItems: 'Cart/approveAllItems',
        reproveAllItems: 'Cart/reproveAllItems',
    })
  },
  computed: {
    ...mapGetters({
      getAllCarts: 'Cart/getAllCarts',
      getVerifiedCarts: 'Cart/getVerifiedCarts',
      getOpenCarts: 'Cart/getOpenCarts',
    }),
  },
  watch: {
    
  },
}
</script>
<style scoped>

</style>